<%= link_to :back, style: 'display:inline; float:left', class: 'fa-red' do %>
  <%= fa_icon "arrow-left 2x"%>
<% end %>
<center><h2 style="display:inline" class="text-center">Edit Your Profile</h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name, class: 'form-horizontal'), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

<div class="form-group">
 <%= f.label :username, class: "control-label", for: 'focusedInput' %><br />
  <%= f.text_field :username, autofocus: true, class: 'form-control', id: 'disabledInput', readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', readonly: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
  </div>

<br />
<div class="form-group">
 <%= f.label "Facebook Link", class: "control-label", for: 'focusedInput' %> <i>(start with http:// please)</i><br />
  <%= f.text_field :facebook_link, class: 'form-control' %>
  </div>

  <div class="form-group">
 <%= f.label "Twitter Link", class: "control-label", for: 'focusedInput' %> <i>(start with http:// please)</i><br />
  <%= f.text_field :twitter_link, class: 'form-control' %>
  </div>

  <div class="form-group">
 <%= f.label "Linkedin Link", class: "control-label", for: 'focusedInput' %> <i>(start with http:// please)</i><br />
  <%= f.text_field :linkedin_link, class: 'form-control' %>
  </div>

<div class="form-group">
 <%= f.label "What would you like others to know about you?", class: "control-label", for: 'focusedInput' %><br />
  <%= f.text_field :description, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
  <%= f.label "Profile Image" %><br />
  <%= f.file_field :profile_pic %>
  </div>

    <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>
  

  <div class="actions">
  <%= f.submit "Update", class: 'btn btn-primary', style: 'float:right; margin-top:10px;'%>
  </div>
<% end %>
<br />
<!--
<h3 class='text-center'>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
-->