<div class="artifact">
<% if @artifacts.count == 0 %>
<h3 class="text-center" style="margin-top:10%;">You have no artifacts, fellow click <%= link_to "here", "#", class: 'login-text', :'data-toggle' => 'modal', :'data-target' => '#newArtifact'%> to create one.</h3>
<% end %>
<div class="row">
    <% @artifacts.each do |artifact| %>
            <div class="col-md-4">
<%= link_to artifact do %>

<div card class="art-cards">
    <div class="image">
        <%= image_tag(artifact.image) %>
        <span class="title">
          <% if artifact.fellowship != nil %>
          <%= artifact.fellowship.fellowship_name %>
          <% end %>

        </span>
    </div>
    <div class="content">
    <h6 class="text-center"><%= artifact.title%></h6>
        <p><%=h truncate(strip_tags(artifact.content), length: 220) %></p>
    </div>
    <div class="action">
    <% if artifact.link_favicon != nil %>
    <%= image_tag(artifact.link_favicon, style: 'height:25px; width:25px;') %>
    <% end %>
    &nbsp;
        <% artifact.tag_list.each do |t| %>
           <h6 style="display:inline;"><span class="label label-default"><%= t %></span></h6>
           <% end %></h6>

           <div class="read-length" style="float:right;">
           <!-- get estimated reading time based on adult avg -->
           <%= (artifact.content.split.size / 300.0).ceil%> min read
           </div>
           <div class="meta-options" style="float:right;display:none;">

<% d_target = '#shareArtifact_' + artifact.id.to_s %>
<%= link_to "#", class: 'login-text', :'data-toggle' => 'modal', 'data-target' => d_target do%>
           <%= fa_icon "share" %>
           <% end %>

           <% if current_user.voted_up_on? artifact %>
           <%= link_to dislike_artifact_path(artifact), method: :put do %>
              <%= fa_icon "star" %>
                     <% end %>
           <% else %>
       <%= link_to like_artifact_path(artifact), method: :put do %>
              <%= fa_icon "star", style: 'color:#95a5a6' %>
           <% end %>
           <% end %>
<% tag_target = '#artifactTag_' + artifact.id.to_s %>
<%= link_to "#", class: 'login-text', :'data-toggle' => 'modal', 'data-target' => tag_target do%>
           <%= fa_icon "tag" %>
           <% end %>

                      <%= link_to artifact, method: :delete, data: { confirm: 'Are you sure?' } do %>
           <%= fa_icon "trash" %>
           <% end %>
           </div>
    </div>
</div>


      <!-- GBTT EXTEMELY BAD HAVING MODAL HERE, IT LOADS FOR EVERY ITEM.  FIND A WAY TO JUST HAVE ONE AND PASS CURRENT ARTIFACT
            TO IT IN THE INDEX ACTION!!!!!! -->

        <div class="modal fade" id='<%= "shareArtifact_#{artifact.id}" %>'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Share to a fellowship</h4>
      </div>
  <div class="modal-body">

  <%= form_for(artifact) do |f|  %>
    <div class="field">
    <%= f.label :fellowship %><br>
<%= f.collection_select(:fellowship_id, current_user.fellowships, :id, :fellowship_name, {include_blank: true}, {class: 'form-control'}) %>
  </div>
<div class="modal-footer">
  <div class="actions">
    <%= f.submit "Share", :class => 'btn btn-primary' %>
  </div>
  <% end %>

  </div>
  </div>

</div>
</div>
</div>

        <div class="modal fade" id='<%= "artifactTag_#{artifact.id}" %>'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Edit Artifact Tag</h4>
      </div>
  <div class="modal-body">

  <%= form_for(artifact) do |f|  %>

  <div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list, class: 'form-control', :style => 'padding-left:7px', autofocus: true %>
</div>

<div class="modal-footer">
  <div class="actions">
    <%= f.submit "Edit Tags", :class => 'btn btn-primary' %>
  </div>
  <% end %>

  </div>
  </div>

</div>
</div>
</div>

  <% end %>
  <br />
      </div>


  <% end %>
  </div>
</div>