<div class="col-md-4">
<p id="notice"><%= notice %></p>
<div id="tag_cloud">
  <% tag_cloud Artifact.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>

    <% @artifacts.each do |artifact| %>
    <%= link_to artifact do%>
  <div class="block-update-card status">
    <div class="update-card-body">
      <div class="update-card-body">
      <h4 class="text-center"><%= artifact.title %></h4>
      <%= image_tag(artifact.image, class: 'img-responsive tile-img') %>
    </div>
    </div>
    <div class="card-action-pellet btn-toolbar pull-right" role="toolbar">
  <div class="btn-group"><%= fa_icon "bookmark-o" %></div>
  <div class="btn-group"><%= fa_icon "external-link"%></div>
  <div class="btn-group"><%= fa_icon "tags"%></div>
   <div class="btn-group"><%= link_to artifact, method: :delete, data: { confirm: 'Are you sure?' } do %>
   <%= fa_icon 'trash-o' %>
   <% end %>
   </div>
</div>
</div>
<% end %>
<% end %>
<%= link_to 'New Artifact', new_artifact_path %>
</div>

<div class="col-md-8">
</div>