<%= link_to :back, style: 'display:inline; float:left', class: 'fa-red' do %>
  <%= fa_icon "arrow-left 2x"%>
<% end %>
<center><h2 style="display:inline" class="text-center"><%= @artifact.title %></h2></center>
<!--
<p>
  <strong>Kind:</strong>
  <%= @artifact.kind %>
</p>-->
<div class="container">
  <div class="cont">
  <%= raw @artifact.content %>
  </div>
</div>