<div class="home">

	<div class="container">

		<div class="row">
		<center><%= image_tag('beta_fellow.png', class: 'img-responsive logo', style: 'display:inline')%> </center>
		</div>
		<div class="row">
			<center>	<!--<h3 id="tagline">curate, learn, follow</h3> -->
				<h3 id="tagline">curate, learn, follow</h3>
				<!-- <%= button_tag "Sign Up", class: 'btn btn-primary', :'data-toggle' => 'modal', :'data-target' => '#signUpModal',method: 'get'%> -->

				<%= button_to user_omniauth_authorize_path(:twitter), class: 'btn btn-custom' do %>
				<%= fa_icon "twitter", style: 'padding-right:2px' %> Sign in with Twitter
				<% end %>
				<p> or <%= link_to "Sign Up with Email", "#", :'data-toggle' => 'modal', :'data-target' => '#signUpModal'%>
					<br />
					or <%= link_to "Sign In", "#", class: 'login-text', :'data-toggle' => 'modal', :'data-target' => '#loginModal'%>
				</p></center>
			</div>

<!--
			<div class="row">
			<div class="col-md-3">
			<h4>With Fellow You Can:</h4>
			</div>
			<div class="col-md-3">
			<h4>Save and share</h4>
			<p>Fellow allows you to group all your favorite articles from the internet in a nice clean interface.
			Plus, you can join "Fellowships", groups of people who like similar articles and enhance your knowledge.</p>
			</div>
			<div class="col-md-3">
			<h4>Search artifacts</h4>
			<p>Can't remember if an article mentioned hackers, hacking or coding? Or looking for specific text? Fellow has
			free full text search to help you find anything.</p>
			</div>
			<div class="col-md-3">
			<h4>Follow others</h4>
			<p>Elon Musk learned how to build rockets from reading books and papers.  Find out what influencers are reading
			by finding and following them.  Who knows what you could learn!</p>
			</div>
			</div>-->
		</div>
	</div>
