<div class="home">

<div class="container">

<center><%= image_tag('logo2_med.png', class: 'img-responsive logo', style: 'display:inline')%> </center>


<center>	<h3 id="tagline">curate, learn, follow</h3>
					<!-- <%= button_tag "Sign Up", class: 'btn btn-primary', :'data-toggle' => 'modal', :'data-target' => '#signUpModal',method: 'get'%> -->

					 <%= button_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: 'btn btn-custom' %>
					 <p> or <%= link_to "Sign Up with Email", "#", :'data-toggle' => 'modal', :'data-target' => '#signUpModal'%>
<br />
					  or <%= link_to "Sign In", "#", class: 'login-text', :'data-toggle' => 'modal', :'data-target' => '#loginModal'%>
					  </p><center>
</div>
</div>
