<!DOCTYPE html>
<html>
<head>
  <title>fellow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="progress" style="margin-bottom:0px;margin-top:-50px;">
  <div class="progress-bar" style="width:100%;"></div>
</div>
</div>

<% flash.each do |name, msg| %>
<% if name == "notice" %>
<div class="alert alert-dismissible alert-success" style="">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h6 class="text-center"><%= msg %></h6>

  <% else %>
<div class="alert alert-dismissible alert-danger" style="">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <h6 class="text-center"><%= msg %></h6>
  <% end %>
</div>

<% end %>


<%= yield %>
  <footer class="footer">
      <div class="container">
        <h6 class="text-muted text-center">&copy; 2015 Bubble Gum</h6>
      </div>
    </footer>


<div class="modal fade" id="loginModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Sign In</h4>
      </div>
  <div class="modal-body">

  <%= simple_form_for(:user, :url => user_session_path) do |f| %>
  <div class="field">
    <%= f.label "Username or Email" %><br />
    <%= f.text_field :login, autofocus: true, class: 'form-control', style: 'padding-left:7px' %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'padding-left:7px' %>
  </div>
<div class="modal-footer">
  <div class="actions">
    <%= f.submit "Sign In", :class => 'btn btn-primary' %>
  </div>
  <% end %>

  </div>
  </div>

</div>
</div>
</div>


<div class="modal fade" id="signUpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Sign Up</h4>
      </div>
  <div class="modal-body">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
  <%= f.label :username %><br />
<%= f.text_field :username , autofocus: true, class: 'form-control', style: 'padding-left:7px', required: true %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', style: 'padding-left:7px', required: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', style: 'padding-left:7px', required: true  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', style: 'padding-left:7px', required: true  %>
  </div>

  <div class="modal-footer">
  <div class="actions">
    <%= f.submit "Sign Up", :class => 'btn btn-primary' %>
  </div>
  <% end %>

  </div>
  </div>

</div>
</div>
</div>
</div>

</body>
</html>
