<!DOCTYPE html>
<html>
<head>
  <title>Fellow | Your Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= analytics_init if Rails.env.production? %>
<%= favicon_link_tag 'logo_key2.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'logo_key2.png' %>
  <%= csrf_meta_tags %>
  <meta name="description" content="Save and share articles with your friends on Fellow">
  <meta name="Keywords" content="save and share, articles, news, bookmark, bookmarks, read it later, save for later, read later, fellow, social news">
</head>
<body>

<div class="red-bar">
</div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-top:7px;">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand navbar-brand-centered">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <!--<%= image_tag('logo2.png', class: 'navbar-brand', style: 'margin-top:-20px;display:inline;')%>-->
               <%= image_tag('logo2_med.png', class: 'img-responsive')%> 
              <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "View Your Profile", profile_link_path(current_user.username)%></li>
              <li><%= link_to "Edit Your Profile", edit_user_registration_path%></li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
              </ul>
              </li></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <ul class="nav navbar-nav">
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= fa_icon "inr 2x", class: 'fa-red'%> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
           <li class="dropdown-header">Public Fellowships</li>

           <% Fellowship.where(public_fellowship: true).each do |f| %>
           <li><%= link_to f.fellowship_name, view_fellowship_path(f.id, f.fellowship_name)%></li>
           <% end %>
              <li class="dropdown-header">Your Fellowships</li>
              <% Fellowship.all.each do |f| %>
              <% if f.users.include?(current_user) %>
              <li><%= link_to f.fellowship_name, view_fellowship_path(f.id, f.fellowship_name) %></li>
              <% end %>
              <% end %>
              </ul>
              </li>
            <!--<li><a href="#"><%= fa_icon "users 2x", class: 'fa-red'%></a></li>-->
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= fa_icon "tags 2x", class: 'fa-red'%> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Your Tags</li>
              <% tag_cloud current_user.artifacts.tag_counts, %w[s m l] do |tag, css_class| %>
    <li><%= link_to tag.name, tag_path(tag.name) %></li>
  <% end %>
              </ul>
            </li>
            <li><%= link_to yourlikes_path do %>
            <%= fa_icon "star 2x", class: 'fa-red'%>
            <% end %>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">

           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= fa_icon "plus 2x", class: 'fa-red'%> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Artifact", "#", class: 'login-text', :'data-toggle' => 'modal', :'data-target' => '#newArtifact'%></li>
            <li><%= link_to "Fellowship", "#", class: 'login-text', :'data-toggle' => 'modal', :'data-target' => '#newFellowship'%></li>

              </ul>
              </li>


            </li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
                    <li><a href="#search"><%= fa_icon "search 2x", class: 'fa-red'%></a></li>
                </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="search">
    <button type="button" class="close">×</button>
        <%= form_tag(artifacts_path, method: :get) do |f| %>

      <%= search_field_tag :search, params[:search], placeholder: "What would you like to find, fellow?", id: nil %>
      <%= button_tag "Search", name: nil, class: 'btn btn-primary' %>

    <% end %>

</div>


<% flash.each do |name, msg| %>
<% if name == "notice" %>
<div class="alert alert-dismissible alert-success" style="margin-top:28px">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <center><h6 class="text-center"><%= msg %></h6></center>

  <% else %>
<div class="alert alert-dismissible alert-danger" style="margin-top:28px">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <center><h6 class="text-center"><%= msg %></h6></center>
  <% end %>
</div>
</div>

<% end %>
<div class="container" style="margin-top:40px">
<%= yield %>
</div>


<div class="modal fade" id="newArtifact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Add An Artifact</h4>
      </div>
  <div class="modal-body">

  <%= form_for(Artifact.new) do |f|  %>
<!--
    <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title , autofocus: true, class: 'form-control', :style => 'padding-left:7px' %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.text_field :kind, class: 'form-control', :style => 'padding-left:7px' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content, class: 'form-control', :style => 'padding-left:7px' %>
  </div>-->
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link, autofocus: true , class: 'form-control', :style => 'padding-left:7px'%>
  </div>

   <div class="field">
    <%= f.label "TLDR" %><br>
    <%= f.text_field :tldr , class: 'form-control', :style => 'padding-left:7px'%>
  </div>

  <div class="field">
  <%= f.label :tag_list, "Tags (separated by commas)" %><br />
  <%= f.text_field :tag_list, class: 'form-control', :style => 'padding-left:7px' %>
</div>

<div class="field">
    <%= f.label "Fellowship" %><br>
    <!-- <%= select(:artifact, :fellowship_id, current_user.fellowships.collect { |fship|
      [fship.fellowship_name]}, {include_blank: 'None'}, class: "form-control") %>-->

      <%= f.collection_select(:fellowship_id, current_user.fellowships, :id, :fellowship_name, {include_blank: true}, {class: 'form-control'}) %>
  </div>

<div class="modal-footer">
  <div class="actions">
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  </div>
  <% end %>

  </div>
  </div>

</div>
</div>
</div>


<div class="modal fade" id="newFellowship">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">Create a fellowship</h4>
      </div>
  <div class="modal-body">

  <%= form_for(Fellowship.new) do |f|  %>

    <div class="field">
    <%= f.label :fellowship_name %><br>
    <%= f.text_field :fellowship_name , autofocus: true, required: true, class: 'form-control', :style => 'padding-left:7px' %>
  </div>

 <div class="field">
    <%= f.label :fellowship_description %><br>
    <%= f.text_field :fellowship_description, required: true, class: 'form-control', :style => 'padding-left:7px' %>
  </div>

<div class="modal-footer">
  <div class="actions">
    <%= f.submit "Create", :class => 'btn btn-primary' %>
  </div>
  <% end %>

  </div>
  </div>

</div>
</div>
</div>




</body>
</html>
